@import "tailwindcss";

@layer base {
  :root{
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "Messina";
  src: url("/src/assets/fonts/Messina.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-rosa: #c02d87;
  --font-messina: "Messina", sans-serif;
}

@utility animation-delay-2000 {
  animation-delay: 2s;
}

@utility animation-delay-4000 {
  animation-delay: 4s;
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}
.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}
.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}
